<div class="grid-container">
  <div class="GENERALES">
    <app-datos-generales></app-datos-generales>
  </div>
  <div class="IDIOMAS">
    <app-idiomas></app-idiomas>
  </div>
  <div class="SORTILEGIOS">
    <app-sortilegios></app-sortilegios>
  </div>
  <div class="BONIFICACIONES">
      <app-caracteristicas></app-caracteristicas>
  </div>
  <div class="DOMINIO">
    <app-dominio></app-dominio>
  </div>
  <div class="DIBUJO">
  </div>
  <div class="HABILIDADES">
    <app-habilidades></app-habilidades>
  </div>
</div>