<div class="grid-container">
  <div style="padding-left: 5px;">{{habilidad.descripcion}}</div> 
  <div><div  
    *ngFor='let item of controles5; let i = index'
    style="cursor: pointer; display: inline-block; width: 9px; height: 9px; margin:1px; border: solid 1px black;"
    [class.gris]="item.readonly"
    [class.negro]="item.activado && !item.readonly"
    (click)="seleccionaGrado5(i)"></div></div>
  <div style="border-right: solid 1px black;"><div 
    *ngFor='let item of controles2; let i = index'
    style="cursor: pointer; display: inline-block; width: 9px; height: 9px; margin:1px; border: solid 1px black;"
    [class.gris]="item.readonly"
    [class.negro]="item.activado && !item.readonly"
    (click)="seleccionaGrado2(i)"></div></div>
    <div class="grid-bonificaciones">
      <div class="centered" style="padding-left: 10px;"><input type="text" [value]="habilidad.valorGrado" readonly></div>
      <div class="right" *ngIf="habilidad.aplicaCar">{{habilidad.abrCar}}: <input type="text" [value]="habilidad.caracteristica" readonly></div>
      <div class="right" *ngIf="!habilidad.aplicaCar">xxx</div>
      <div class="centered" *ngIf="habilidad.aplicaProfesion"><input type="text" [value]="habilidad.profesion" readonly></div>
      <div class="centered" *ngIf="!habilidad.aplicaProfesion">xx</div>
      <div class="centered"><input type="text" [(ngModel)]="habilidad.objeto" (change)="onChange()"></div>
      <div class="centered"><input type="text" [(ngModel)]="habilidad.especial" (change)="onChange()"></div>
      <div class="centered" *ngIf="habilidad.especial2sl">{{habilidad.especial2 | signedNumber}}</div>
      <div class="centered" *ngIf="!habilidad.especial2sl"><input type="text" [(ngModel)]="habilidad.especial2" (change)="onChange()"></div>
      <div class="centered" style="padding-right: 10px;"><span>{{habilidad.valorTotal | signedNumber}}</span></div>
    </div>
</div>
