<div class="vista-personaje" (click)="onSeleccionPersonaje()">
  <div><img style="width: 210px;" src="assets/dwarf_animista.jpg"/></div>
  <div class="vista-personaje">
    <div>Personaje: </div><div>{{personaje.datos.nombre}}</div>
    <div>Raza: </div><div>{{personaje.datos.raza.descripcion}}</div>
    <div>Profesión: </div><div>{{personaje.datos.profesion.descripcion}}</div>
    <div>Nivel: </div><div>{{personaje.datos.nivel}}</div>
    <div>Dominio: </div><div>{{personaje.dominio.dominio}}</div>
    <div>Listas: </div><div>{{personaje.listas.length}}</div>
    <div>Puntos de golpe: </div><div>{{personaje.habilidades[5][1].valorTotal}}</div>
    <div>B. Ofensiva: </div><div>{{personaje.bo}}</div>
    <div>B. Defensiva: </div><div>{{personaje.bd}}</div>
  </div>
</div>