<div class="grid-container">
  <div class="TITULO">
    BONIFICACIONES HABILIDADES
  </div>
  <div class="GRADO">Grado</div>
  <div class="CARAC">Carac.</div>
  <div class="PROFESION">Profesión</div>
  <div class="OBJETO">Objeto</div>
  <div class="ESPECIAL">Especial</div>
  <div class="ESPECIAL2">Especial</div>
  <div class="TOTAL">Total</div>
  <ng-template ngFor let-grupo [ngForOf]="habilidades" let-i="index">
    <div class="ESPACIO_BON_HABILIDAD">&nbsp;M&nbsp;</div>
    <div class="VALORES" *ngFor="let habilidad of grupo">
      <app-bon-habilidad [habilidad]="habilidad"></app-bon-habilidad>
    </div>
  </ng-template>
</div>

