.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 71px 71px 71px 71px 71px 71px 71px;
    grid-template-rows: 10px;
    grid-template-areas: "TITULO TITULO TITULO TITULO TITULO TITULO TITULO"
                        "GRADO CARAC PROFESION OBJETO ESPECIAL ESPECIAL2 TOTAL"
                        ". . . . . . .";
}
  
.TITULO {
    grid-area: TITULO;
    text-align: center;
    border-bottom: solid 1px black;
}

.GRADO {
    grid-area: GRADO;
    text-align: center;
    border-bottom: solid 1px black;
}

.CARAC {
    grid-area: CARAC;
    text-align: center;
    border-bottom: solid 1px black;
}

.PROFESION {
    grid-area: PROFESION;
    text-align: center;
    border-bottom: solid 1px black;
}

.OBJETO {
    grid-area: OBJETO;
    text-align: center;
    border-bottom: solid 1px black;
}

.ESPECIAL {
    grid-area: ESPECIAL;
    text-align: center;
    border-bottom: solid 1px black;
}

.ESPECIAL2 {
    grid-area: ESPECIAL2;
    text-align: center;
    border-bottom: solid 1px black;
}

.TOTAL {
    grid-area: TOTAL;
    text-align: center;
    border-bottom: solid 1px black;
}


.ESPACIO_BON_HABILIDAD {
    grid-column: 1 /8;
    padding: 5px;
}

.VALORES {
    grid-column: 1 /8;
}

input[type=text] {
    border: solid 0px;
    border-bottom: solid 1px;
    font-size: 10px;
    width: 50%;
    text-align: center;
}


div {
    font-size: 12px;
}